/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
--background__color: rgba(255, 241, 247, 1);
--title__font__color: rgba(255, 194, 230, 1);
--accent__color: rgba(255, 141, 203, 1);
--main__font__color: rgba(53, 52, 48, 1);
--decoration__color: rgba(53, 52, 48, 1);
--accent__title__color: rgba(53, 52, 48, 1);
--article__title__color: rgba(53, 52, 48, 1);
--header__background__image: url("../images/cover-image-light.png");
}


.theme_light .header__dark-theme-decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background__color: rgba(255, 241, 247, 1);
    --title__font__color: rgba(255, 194, 230, 1);
    --accent__color: rgba(255, 141, 203, 1);
    --main__font__color: rgba(53, 52, 48, 1);
    --decoration__color: rgba(53, 52, 48, 1);
    --accent__title__color: rgba(53, 52, 48, 1);
    --article__title__color: rgba(53, 52, 48, 1);
    --header__background__image: url("../images/cover-image-light.png");    
  }

 .header__dark-theme-decoration {
    display: none;
  }
}